.bg {
  width: 50%;
  height: 400px;
  position: absolute;
  background-color: #eef3f6;
  right: 0;
  border-bottom-left-radius: 80px;
  z-index: -1;
  top: 0; }
  @media (max-width: 448px) {
    .bg {
      height: 300px; } }

.container {
  margin-top: 6%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  width: 100%;
  overflow: hidden; }
  @media (max-width: 800px) {
    .container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(2, auto); } }
  @media (max-width: 390px) {
    .container {
      margin-top: 0; } }
  .container__img {
    position: relative;
    grid-column: 2/3;
    grid-row: 1/2;
    width: 150%; }
    @media (max-width: 900px) {
      .container__img {
        width: 120%;
        margin-left: 6%; } }
  .container__text {
    margin-left: 20%;
    margin-top: 30px;
    grid-column: 1/2;
    grid-row: 1/2;
    line-height: 50px;
    color: #a0a1ac; }
    @media (max-width: 900px) {
      .container__text {
        margin-top: 10px; } }
    @media (max-width: 800px) {
      .container__text {
        grid-column: 1/3;
        grid-row: 2/3;
        margin-left: 10%; } }
    @media (max-width: 524px) {
      .container__text {
        margin-top: 0px; } }
    .container__text--para1 {
      letter-spacing: .2rem; }
      @media (max-width: 390px) {
        .container__text--para1 {
          letter-spacing: 0; } }
      .container__text--para1 span {
        background-color: #000000;
        color: white;
        padding: 0 10px;
        border-radius: 9px;
        margin-right: 20px; }
    .container__text--header {
      font-family: "Barlow";
      font-size: 50px;
      color: black; }
      @media (max-width: 375px) {
        .container__text--header {
          font-size: 35px; } }
    .container__text--para2 {
      margin-top: 20px;
      width: 50%;
      line-height: 120%;
      color: #a0a1ac; }
      @media (max-width: 375px) {
        .container__text--para2 {
          width: 90%; } }
    .container__text--button {
      border: none;
      background-color: #ff5c5c;
      color: white;
      padding: 15px;
      border-radius: 14px;
      margin-right: 20px;
      margin-top: 20px;
      outline: none; }
      .container__text--button span {
        color: #a0a1ac; }

* {
  margin: 0;
  padding: 0; }

body {
  margin-right: 0;
  width: 100%;
  margin: auto;
  font-family: "Barlow";
  font-size: 18px; }

#chk {
  position: absolute;
  visibility: hidden; }

.navbar {
  margin-left: 10%;
  height: 100px;
  padding: 0 20px; }
  .navbar__logo {
    float: left;
    margin-top: 30px; }
  .navbar__menu {
    float: right;
    line-height: 100px; }
    .navbar__menu--list {
      color: #eef3f6; }
    .navbar__menu--foi {
      display: none;
      font-size: 30px; }
    .navbar__menu a {
      color: #242942;
      text-decoration: none;
      padding: 0 25px; }
      .navbar__menu a:hover {
        color: #5b5f71;
        text-decoration: underline; }
      .navbar__menu a .fa-circle {
        color: #a0a1ac;
        font-size: 50%; }
      @media (max-width: 1130px) {
        .navbar__menu a {
          padding: 10px; } }
      @media (max-width: 870px) {
        .navbar__menu a {
          padding: 6px; } }
  .navbar__chek {
    display: none;
    font-size: 30px; }
    .navbar__chek--bergare {
      float: right;
      margin-top: 30px;
      cursor: pointer; }

@media screen and (max-width: 800px) {
  .navbar__chek {
    display: block; }
  .navbar__menu {
    margin: auto;
    position: fixed;
    z-index: 10;
    width: 250px;
    height: 50vh;
    background-color: white;
    top: 30px;
    left: 10%;
    right: -190%;
    text-align: center;
    padding: 20px 0;
    line-height: normal;
    border: solid 2px #000000; }
    .navbar__menu--foi {
      display: block;
      position: absolute;
      top: 0px;
      right: 40px; }
    .navbar__menu a {
      display: block;
      padding: 20px; }
  #chk:checked ~ .navbar__menu {
    right: 0%; } }
