* {
  margin: 0;
  padding: 0; }

.bg {
  width: 50%;
  height: 400px;
  position: absolute;
  background-color: #eef3f6;
  right: 0;
  border-bottom-left-radius: 80px;
  z-index: -1;
  top: 0; }

.bg {
  width: 50%;
  height: 400px;
  position: absolute;
  background-color: #eef3f6;
  right: 0;
  border-bottom-left-radius: 80px;
  z-index: -1;
  top: 0; }

.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between; }
  .container__img {
    width: 100%; }

body {
  width: 80%;
  margin: auto;
  font-family: "Barlow"; }

#chk {
  position: absolute;
  visibility: hidden; }

.navbar {
  height: 100px;
  padding: 0 20px; }
  .navbar__logo {
    float: left;
    margin-top: 30px; }
  .navbar__menu {
    float: right;
    line-height: 100px; }
    .navbar__menu a {
      color: #242942;
      text-decoration: none;
      padding: 0 10px; }
      .navbar__menu a:hover {
        color: #5b5f71; }
  .navbar__chek {
    display: none;
    font-size: 30px; }
    .navbar__chek--bergare {
      float: right;
      margin-top: 30px;
      cursor: pointer; }
  .navbar__menu--foi {
    display: none;
    font-size: 30px; }

@media screen and (max-width: 800px) {
  .navbar__chek {
    display: block; }
  .navbar__menu {
    margin: auto;
    position: fixed;
    width: 40%;
    height: 50vh;
    background-color: white;
    top: 30px;
    left: 45%;
    right: -100%;
    text-align: center;
    padding: 20px 0;
    line-height: normal;
    transition: 0.7s;
    border: solid 2px #000000; }
    .navbar__menu--foi {
      display: block;
      position: absolute;
      top: 0px;
      right: 40px; }
    .navbar__menu a {
      display: block;
      padding: 20px; }
  #chk:checked ~ .navbar__menu {
    right: 0%; } }
