body {
  font-family: 'Barlow';
  font-weight: 400;
  font-size: 18px;
  color: black;
  width: 80%;
  margin: 0 auto;
  padding: 20px; }

.bloc {
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .bloc__right {
    grid-column: 2/3; }
    .bloc__right div {
      background-color: #eef3f6;
      z-index: 0;
      width: 100%;
      height: 25vh;
      padding: 0;
      margin: 0;
      border-bottom-left-radius: 20%; }
    .bloc__right img {
      width: 40%;
      z-index: 1;
      padding: 0;
      position: absolute;
      margin-top: -120px; }
    .bloc__right ul {
      display: flex;
      justify-content: space-around;
      font-weight: 600;
      background-color: #eef3f6;
      margin: 0;
      padding: 0; }
      .bloc__right ul li {
        margin: 40px auto;
        list-style: none; }
        .bloc__right ul li .fa-circle {
          color: #5b5f71;
          font-size: 6px; }
  .bloc__left img {
    margin: 40px; }
  .bloc__left--para {
    letter-spacing: 4px;
    margin-top: 80px;
    color: #5b5f71;
    font-weight: 500; }
    .bloc__left--para span {
      letter-spacing: 0px;
      background-color: black;
      color: white;
      padding: 0 8px;
      border-radius: 16px; }
  .bloc__left h1 {
    font-family: "Barlow";
    font-weight: 700;
    font-size: 50px; }
