body {
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 18px;
    color: black;
    width: 90%;
    margin: 0 auto;
    padding: 0 20px;
}

.bloc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    &__right {
        grid-column: 2/3;
        div {
            background-color: hsl(207, 33%, 95%);
            z-index: 0;
            width: 100%;
            height: 36vh;
            padding: 0;
            margin: 0;
            border-bottom-left-radius: 20%;
        }
        img {
            width: 45%;
            z-index: 1;
            padding: 0;
            position: absolute;
            margin-top: -180px;
        }
        ul {
            display: flex;
            justify-content: space-around;
            font-weight: 600;
            background-color: hsl(207, 33%, 95%);
            margin: 0;
            padding: 0;
            li {
                margin: 40px auto;
                list-style: none;
                .fa-circle {
                    color: hsl(230, 11%, 40%);
                    font-size: 6px;
                }
            }
        }
        &__lest--item {
            color: hsl(230, 11%, 40%);
        }
    }
    &__left {
        width: 80%;
        margin-left: 5%;
        img {
            margin: 40px;
            margin-left: 0;
        }
        &--para {
            letter-spacing: 4px;
            margin-top: 80px;
            color: hsl(230, 11%, 40%);
            font-weight: 500;
            span {
                letter-spacing: 0px;
                background-color: black;
                color: white;
                padding: 0 8px;
                border-radius: 16px;
            }
        }
        &--para1 {
            color: hsl(230, 11%, 40%);
            width: 200px;
        }
        h1 {
            font-family: 'Barlow', ;
            font-weight: 700;
            font-size: 50px;
        }
        &--button {
            color: white;
            background-color: hsl(0, 100%, 68%);
            border: none;
            padding: 10px 20px;
            border-radius: 8px;
        }
        &--text {
            color: hsl(230, 11%, 40%);
            margin-left: 20px;
        }
    }
}

// ---------------------------------------mixin